.emailList__settingsLeft .icon{
    font-size: 20px;
}

.emailList{
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
  
}

.emilList__settings{
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 1000;
    padding-right: 10px;
    
}

.emailList__sections{
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
}

